<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>index</title>
    <!-- Bootstrap line -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<body>
  <form class="text-center" action="" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            {% csrf_token %}
            <label for="xlsxFile">
                <p>Choose Excel File (Supported format: xlsx)</p>
                <input class="form-control" id="xlsxFile" type="file" name="myfile">
            </label>
            <button type="submit" class="btn btn-primary">Upload</button>
            <br>
            <a class="" href="{% url 'api:foodsale-list' %}">API</a>
        </div>

    </form>

</form>
</body>
</html>